<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js"></script>  <!-- Linking the JavaScript file -->
</head>
<body>
    <header>
        <h1>Welcome to Our Website</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/vitthal">Vitthal</a>
    </nav>
    <main>
        <h2>This is the home page</h2>
        <p>hello!</p>
        <button id="changeTextBtn">welcome!</button>
    </main>
    <footer>
        <p>Follow us:</p>
        <a href="https://www.facebook.com" target="_blank">Facebook</a> |
        <a href="https://twitter.com" target="_blank">Twitter</a> |
        <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </footer>
</body>
</html>

